<div class="section banner-section wf-section">
    <div class="wrapper w-container">
      <a href="{{ links.-52cfa2ee }}" class="banner w-inline-block">
        <div class="_1440x128-ad">{%- image images.-154b15a8.url, images.-154b15a8.alt, '[{"max":10000,"size":"100vw"}]', 'loading="lazy" class="image-3"' -%}
          <div class="text-block-2">{{ texts.41032d97 }}<br>{{ texts.2222cf0e }}</div>
        </div>
      </a>
    </div>
  </div>