<a href="{{ links.-52cfa2ee }}" target="_blank" class="banner-sidebar w-inline-block">
                <div class="_320x400-ad">{%- image images.2731ab60.url, images.2731ab60.alt, '[]', 'loading="lazy" class="image-4"' -%}</div>
              </a>